/* Master Styles */
h1 {
  margin: 1.5em 0em 1em 0;
  color: #222;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-weight: lighter;
}
body {
  margin: 2em;
}
.navbar .more-options {
  text-align: center; 
  font-size: 0.8em;
  text-transform: uppercase;
} 
footer {
  margin-top: 4em;
}
.customerHeaderDetails {
  color: #ddd;
  font-size: 0.7em;
}
